.date-picker {
  --button-size: 2.5rem;
  ---day-border-radius: 4px;
}

.date-picker {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 0.25rem;
  width: calc(var(--button-size)*7)
}

.date-picker__header {
  display: grid;
  grid-template-columns: var(--button-size) 1fr var(--button-size);
  justify-items: center;
  align-items: center;
}

.date-picker__button {
  width: var(--button-size);
  height: var(--button-size);
  color: var(--primary-dark-color);
}

.date-picker__weekdays,
.date-picker__calendar {
  display: grid;
  grid-template-columns: repeat(7, var(--button-size));
}

.date-picker__weekdays {
  align-items: center;
  justify-items: center;
  height: var(--button-size);
  font-size: 0.75rem;
}

.date-picker__calendar {
  row-gap: 0.125rem;
}

.day {
  border-radius: var(---day-border-radius);
  box-sizing: border-box;
  border: 1px solid transparent;
}

.secondary {
  opacity: 0.5;
}

.today {
  font-weight: 900;
  border: 1px solid var(--secondary-dark-color) !important;
}

.will-be-in-range,
.will-be-range-end,
.will-be-range-start {
  border-top: 1px dashed var(--tertiary-dark-color);
  border-bottom: 1px dashed var(--tertiary-dark-color);
}

.will-be-range-end,
.will-be-in-range:nth-child(7n),
.will-be-range-start:nth-child(7n) {
  border-right: 1px dashed var(--tertiary-dark-color);
}

.will-be-in-range:nth-child(7n+1),
.will-be-range-start,
.will-be-range-end:nth-child(7n+1) {
  border-left: 1px dashed var(--tertiary-dark-color);
}

.in-range,
.range-start,
.range-end {
  color: var(--primary-light-color)
}

.will-be-in-range,
.in-range {
  border-radius: 0;
}

.in-range {
  background-color: var(--tertiary-dark-color);
}

.selected {
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
  border-color: transparent;
}

.selected,
.in-range {
  opacity: 1;
}

.will-be-in-range:nth-child(7n),
.in-range:nth-child(7n),
.range-end,
.will-be-range-end {
  border-radius: 0 var(---day-border-radius) var(---day-border-radius) 0;
}

.will-be-in-range:nth-child(7n+1),
.in-range:nth-child(7n+1),
.range-start,
.will-be-range-start {
  border-radius: var(---day-border-radius) 0 0 var(---day-border-radius);
}

.range-start:nth-child(7n),
.range-end:nth-child(7n+1),
.will-be-range-start:nth-child(7n),
.will-be-range-end:nth-child(7n+1) {
  border-radius: var(---day-border-radius);
}
