@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dp-border-color: rgb(39 39 42); /* zinc-800 */
  --dp-in-range-bg: rgb(113 113 122); /* zinc-500 */
  --dp-border-radius: 4px;
}

body, html, #__next {
  height: 100%;
}
