.main {
  min-height: 100%;
}

.main-header {
  width: 100%;
  position: relative;
  margin-bottom: 6rem;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;

  height: 100%;
  width: 67%;
  z-index: 1;
}

@media screen and (min-width: 414px) {
  .main-navigation {
    height: 29%;
  }
}
